[submodule "ltr/external/PreciseRoIPooling"]
	path = ltr/external/PreciseRoIPooling
	url = https://github.com/vacancy/PreciseRoIPooling.git
[submodule "beu-evaluator"]
	path = beu-evaluator
	url = git@github.com:JerichoGroup/beu-evaluator.git
[submodule "beu-data"]
	path = beu-data
	url = git@github.com:JerichoGroup/beu-data.git
